*{
    margin: 0px;
    padding: 0px;
}
.container
{
    height: 100vh;
    width: 100wh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:4rem
    
}
.boxes1{
    height: 10rem;
    width: 10rem;
    background-color: orange;
    
}
.boxes2{
    height: 10rem;
    width: 10rem;
    background-color: red;
    
 
}
.boxes3{
    height: 10rem;
    width: 10rem;
    background-color: blue;
}
.boxes4{
    height: 10rem;
    width: 10rem;
    background-color: purple;
}
